@model HRS.ViewModel.MakeAnAppointmentViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom red-bg page-heading">
    <div class="col-lg-10">
        <h2>Randevu Al Sayfası</h2>
        <ol class="breadcrumb red-bg">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index","Home")">Anasayfa</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Randevu Al</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">

        <div class="doctor-list"></div>

        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Randevu Alma Formu</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    @using (Html.BeginForm("Add", "MakeAnAppointment", FormMethod.Post))
                    {
                        <select class="form-control m-b Cliniz-Select" name="ClinicId">
                            <option>---- Klinik Seçiniz ----</option>
                            @foreach (var item in Model.clinics)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                        <select class="form-control m-b Doctor-Select" name="DoctorId" id="doctor-option">
                            <option>---- Doktor Seçiniz ----</option>
                        </select>
                        <label id="times-list">

                        </label>
                        <div class="hr-line-dashed"></div>
                        <div class="col-sm-4 col-sm-offset-2">
                            <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-floppy-o"></i> Kaydet</button>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>